# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
.conda/

# Training artifacts
experiments/
runs/
logs/
checkpoints/
*.pth
*.pt

# Data
data/
models/
outputs_fullres/
.ipynb_checkpoints/
anaconda_projects/

